<html>
<head>
<link rel="stylesheet" href="./assets/dcw.css">
<title> AnaSayfa | KurtBot </title>
</head>
<body>
<div class="ready">

Your Tasks : Tasklarınızı Belirtin Ve Düğmeye Basın
<button onclick="myFunction()"> Tıkla! </button>
</div>
<h1> KurtBot </h1>
<p>Kendinize göre ayarlayın </p>
<!-- Copyright &copy; NicatDcW -->
</body>
</html>
