<html>
<head>
<link rel="stylesheet" href="./assets/dcw.css">
<title> AnaSayfa | KurtBot </title>
</head>
<body>
<h1> KurtBot </h1>
<p>Kendinize göre ayarlayın </p>
<!-- Copyright &copy; NicatDcW -->
</body>
</html>
